.nan{
    margin-top: 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}
.brand{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.file a{
  color: white;
  text-decoration: none;
}
.file a:hover{
    text-decoration: underline;
}
.logo{
    margin-top: -10px;
    background-color: white;
    width: 50px;
    height: 50px;
}

.Collection{
    margin-top: -100px;
}
.Collection h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.show{
    color: white;
    display: flex; column-gap: 20px;
}

.line{
    color: white;
}
.gallery{
    background: #11232D;
}

.titanium{
    color: white;
}
.titanium button{
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: none;
    padding-left: 60px;
    font-size: small;
}
.titanium button:hover{
    text-decoration: underline;
    color: white;
}
.design{
    border: 0.5px solid wheat;
}

.categories{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.cate{
    text-align: center;
    color: white;
}

.gold{
    justify-content: center;
    align-items: center;
    column-gap: -10px;
}
.gold .col h4{
    margin-top: -50px;
    color: white;
    text-align: center;
    font-weight: lighter;
}
.gold1{
    margin-left: 130px;
}

.paym h5,p{
    color: white;
}
.paym p{
    margin-top: -10px;
    font-size: 15px;
}
.yoko{
    margin-left: -15px;
}
.yono{
    margin-top: -350px;
    padding-left: 30px;
}
.yono h1{
    font-size: 170px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.yono h4{
    color: white;
    margin-top: -30px;
}

.foot1,.foot2{
    background-color: #11232D;
    color: white;
}

input{
    background-color: transparent;
    color: white;
    width: 300px;
}
.foot1{
    border-right: 0.01px solid wheat;
}
.foot{
 background-color: #11232D;
}
.foot2 div a{
    color: white;
    text-decoration: none;
}
.foot2 div a:hover{
    text-decoration: underline;
}
.fot1 .fot2{
    padding-left: 40px;
}

.last{
    background-color: #11232D;
    border-top: 0.01px solid wheat;
    padding-bottom: 15px;
}
.last h1{
    font-family: cursive;
    color: white;
}
.las1{
    font-size: 13px;
    text-align: center;
}
.las3{
    text-align: center;
    font-size: 13px;
    padding-top: 40px;
}
.las2{
    text-align: center;
}