body{
    margin: auto;
    /* margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px; */
    background-color: whitesmoke;
}
#navigation{
    display: flex;
    column-gap: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    /* background: pink; */
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
}
#navigation select option a{
    background-color: #FCD32B;
    border: 2px solid #FCD32B;
    color: #3E474E;
}
a{
    text-decoration: none;
}
select{
    border: none;
    background-color: white;
}
.logo{
    background-color: #3E474E;
    color: #FCD32B;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logoname{
    background-color: #FCD32B;
    color: #3E474E;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -7px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 50;
}
form{
    margin-top: 25px;
}
div h4{
    margin-top: -10px;
}
div p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: small;
}
.header2{
    background-color: #3E474E;
    display: flex;
    /* margin-left: 20px; */
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -10px;
    column-gap: 300px;
    position: sticky;
    top: 0;
    z-index: 100;
}
#Categories{
    color: #3E474E;
    background-color: #FCD32B;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 90px;
    position: absolute;
    margin-top: -15px;
    margin-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: small;
}
#bar{
    display: inline;
    display: flex;
    column-gap: 30px;
}
.header2 div a{
    color: #FCD32B;
}
#color{
    color: white;
}
.banner{
    display: flex;
}
.banner1{
    background-repeat: no-repeat;
    background-size: 950px, 450px;
    color: rgba(239, 236, 236, 0.978);
    margin-left: 40px;
    margin-top: 15px;
    width: 950px;
    height: 450px;
}
.banner2{
    margin-left: 30px;
    margin-top: 15px;
}
.banner div img{
   color: rgba(79, 76, 76, 0.152);
}
.shop{
    position:absolute;
    z-index: 3;
    margin-top: -300px;
    margin-left: 380px;
    text-align: center;
}
.banner1 div h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.banner1 div button {
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background-position: center;
    transition: transform 0.2s;
    background-color: rgba(0, 0, 0, 0.01);
    border: 2px solid white;
}
button:hover {
    transform: scale(1.05);
}
.banner2 div button{
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
.banner2 div button:hover{
    transform: scale(1.03);
}
#order{
    margin-left: 70px;
    margin-right: 60px;
    margin-top: 15px;
    display: flex;
    column-gap: 140px;
}
#order button{
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
    background-color: #ffffff;
    border: 2px solid #FCD32B;
}
#order button:hover{
    transform: scale(1.05);
}
.categories{
    margin-left: 40px;
    margin-right: 40px;
}
.categories p{
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.categories span{
    font-weight: 10px;
    font-size: 50%;
}
.service{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}
.service img{
    width: 200px;
    height: 180px;
    /* border: 2px solid #FCD32B;
    background-color: white; */
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.service div{
    border: 2px solid #FCD32B;
    background-color: white;
}
.service div p,h5{
    text-align: center;
    margin-top: -13px;
}
.service button{
    margin-left: 53px;
    margin-top: -20px;
    cursor: pointer;
    background-color: #FCD32B;
    margin-bottom: 4px;
    transition: 0.2s;
}
.service button:hover{
    transform: scale(1.05);
}
footer{
    background-color: #3E474E;
    column-gap: 50px;
    color: #ffffff;
}
footer div a{
    color: white;
}
.footer{
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
}
.footer h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sales{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    column-gap: 10px;
}
#sales div button img{
    width: 300px;
    height: 300px;
}
#sales div button{
    cursor: pointer;
    transition: 0.2s;
    border: none;
}
#sales div button:hover{
    transform: scale(1.05);
}